/* button settings */
.btn-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 15;
}

.btn-container .btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.btn-container .btn-wrapper .btn-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 66px;
}
.btn-container .btn-wrapper .btn-contain:last-child {
  margin-right: 0;
}

.btn-container .btn-wrapper .btn-contain .btn-flex {
  display: flex;
}

.btn-container .btn-wrapper .btn-contain .btn-flex .btn {
  margin: 0 8px;
}

.btn-container .btn-wrapper .btn-contain .title {
  padding: 4px 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #cee9f2;
}

.btn-container .btn-wrapper .btn-contain .lines {
  margin: 8px auto;
  width: 100%;
  height: 18px;
  border: 1px solid #cee9f2;
  border-bottom: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
  width: 105px;
  height: 42px;
  min-height: 40px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
  color: #194a8a;
  background-color: white;
  border-radius: 10px;
  border: 0;
  transition: 0.5s;
}
.btn:hover,
.btn-container-bottom .btn:hover {
  background-color: #e6deef;
  cursor: pointer;
}
.btn.btn-big {
  height: 68px;
}

.btn-container-bottom {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 15;
}

/* download button */
.btn-container-bottom .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 69px;
  padding: 22px 38px;
  border-radius: 34px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: #194a8a;
}
.btn-container-bottom .btn.bg-blue {
  width: 376px;
  height: 87px;
  border-radius: 43px;
  background-color: #cee9f2;
  font-size: 20px;
}
.btn-container-bottom .btn.bg-blue:hover {
  background-color: #e6deef;
  cursor: pointer;
}
.btn.is-disabled,
.btn-container-bottom .btn.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  background-color: #7da8e0;
}
.btn-container-bottom .btn .icn-download {
  background: url("../images/icn-download.svg") center center no-repeat;
  margin-right: 16px;
}

.btn-container-bottom .btn .icn-download {
  width: 18px;
  height: 18px;
  background-size: contain;
}

.btn-container-bottom .btn.bg-blue .icn-download {
  width: 28px;
  height: 28px;
}

#stepNum1 {
  margin-top: 52px;
  margin-right: 34px;
}

#btnDownload1 {
  margin-right: 22px;
}

/* */
a {
  background: #d2d7d3;
  color: #222;
  border-radius: 100%;
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  margin: 0 2px;
  padding-top: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a.icon:before {
  font-family: "FontAwesome", sans-serif;
  color: #fff;
  font-size: 20px;
}

a span {
  background: #fff;
  color: #194a8a;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a span:before {
  content: "";
  /*   width: 0;
  height: 0; */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

/* big btn */
a.btn-big:hover span {
  bottom: 70px;
  visibility: visible;
  opacity: 1;
}

/* extrabig btn */
a.btn-extrabig:hover span {
  bottom: 80px;
  visibility: visible;
  opacity: 1;
}
