@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
/* Basic reset */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.main-logo-container {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.main-logo-container .main-logo {
  width: 120px;
  height: auto;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider {
  position: relative;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  /* cursor: all-scroll; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider.animation {
  transition: -webkit-transform 750ms ease-in-out;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}
.slider.animation .slide__darkbg {
  transition: -webkit-transform 750ms ease-in-out;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}
.slider.animation .slide__text {
  transition: -webkit-transform 750ms ease-in-out;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}
.slider.animation .slide__letter {
  transition: -webkit-transform 750ms ease-in-out;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide--1 {
  left: 0%;
}
.slide--2 {
  left: 100%;
}
.slide--3 {
  left: 200%;
}
.slide--4 {
  left: 300%;
}
.slide--5 {
  left: 400%;
}
.slide__darkbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 10;
}
.slide__text-wrapper {
  position: absolute;
  top: 100px;
  left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  z-index: 12;
  text-align: left;
}
.slide__text-wrapper h1 {
  padding: 8px;
  font-size: 36px;
  font-weight: bold;
}
.slide__text-wrapper h3 {
  margin-top: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.slide--1__darkbg {
  left: 0%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--1__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide--1__animated-gradient:after {
  content: "";
  background: linear-gradient(
    180deg,
    #cee9f2,
    #f4d6eb,
    #66c2e4,
    #f4d6eb,
    #cee9f2
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.slide--2__darkbg {
  left: -50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--2__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide--2__animated-gradient:after {
  content: "";
  background: linear-gradient(
    180deg,
    #cee9f2,
    #f4d6eb,
    #66c2e4,
    #f4d6eb,
    #cee9f2
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.slide--3__darkbg {
  left: -100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--3__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide--3__animated-gradient:after {
  content: "";
  background: linear-gradient(
    -45deg,
    #cee9f2,
    #f4d6eb,
    #23a6d5,
    #f4d6eb,
    #cee9f2
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.slide--4__darkbg {
  left: -150%;
  background: url("../images/slide-4/plane-wing-web.jpg") center center
    no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--4__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.2);
}
.slide--5__darkbg {
  left: -200%;
  background: url("../images/slide-5/control-tower.png") center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 100;
}
.nav__slide {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nav__slide:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}
.nav__slide:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
  -ms-transform: translate(-50%, -50%) scale(0, 0);
  transform: translate(-50%, -50%) scale(0, 0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.nav__slide--1 {
  margin-left: 0;
}

.nav-active:after {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.side-nav {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  opacity: 0.2;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  display: flex;
  align-items: center;
}
.side-nav:hover {
  opacity: 0.9;
}
.side-nav--right {
  right: 0;
  justify-content: flex-end;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    to(white)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    white 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    white 100%
  );
}
.side-nav--right:hover {
  cursor: e-resize;
}
.side-nav--left {
  left: 0;
  justify-content: flex-start;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(255, 255, 255, 0)),
    to(white)
  );
  background-image: -o-linear-gradient(
    right,
    rgba(255, 255, 255, 0) 0%,
    white 100%
  );
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    white 100%
  );
}
.side-nav--left:hover {
  cursor: w-resize;
}

/* animated clouds */
.clouds {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: hidden;
  pointer-events: none;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;

  animation: animate calc(3s * var(--i)) linear infinite;
}
.cloud-1 {
  background: url("../images/clouds/cloud1.png") center bottom no-repeat;
}
.cloud-2 {
  background: url("../images/clouds/cloud2.png") center bottom no-repeat;
}
.cloud-3 {
  background: url("../images/clouds/cloud3.png") center bottom no-repeat;
}
.cloud-4 {
  background: url("../images/clouds/cloud4.png") center bottom no-repeat;
}
.cloud-5 {
  background: url("../images/clouds/cloud5.png") center bottom no-repeat;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* CONTACT CARD
========================================== */
.contact-area {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 200px auto;
}

.contact {
  position: relative;
  max-width: 420px;
  padding: 40px 20px;
  overflow: hidden;
  margin: 0 auto;
}

.contact main {
  float: left;
  width: 100%;
  position: relative;
}
.contact main section {
  border-radius: 5px;
  float: left;
  width: 100%;
}
.contact-1 main section {
  background-color: #f7dbef;
}
.contact-2 main section {
  background-color: #f0ddf0;
}
.contact-3 main section {
  background-color: #e1e1f1;
}
.contact-4 main section {
  background-color: #d2e7f3;
}

.contact main section .content {
  float: left;
  width: 100%;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
}

.contact main section .content aside {
  float: left;
  width: 100%;
  color: #4072cb;
  margin-top: 10px;
}

.contact main section .content aside h1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
.contact main section .content aside p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 160%;
}
.contact main .title {
  float: left;
  width: 100%;
  background-color: #4072cb;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}
.contact main .title.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}
.contact main .title.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.2s;
}
.contact main .title p {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.contact main button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: white;
  color: #5976aa;
  border: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: 0.1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
}
.contact main button span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
  display: block;
  width: 200px;
  float: left;
  padding: 12px 0px;
}
.contact main button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.contact main button svg path {
  fill: #5976aa;
}
.contact main button.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
  margin-bottom: -32.5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.contact main button.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
}
.contact main button.active svg {
  opacity: 1;
  transition-delay: 0.5s;
}
.contact nav {
  float: left;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.contact nav.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.contact nav.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.contact nav.active a:nth-of-type(1) {
  transition-delay: 0.5s;
}
.contact nav.active a:nth-of-type(2) {
  transition-delay: 0.7s;
}
.contact nav.active a:nth-of-type(3) {
  transition-delay: 0.9s;
}
.contact nav a {
  float: left;
  width: 100%;
  margin-top: 18px;
  background-color: #ffffff;
  padding: 18px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}

.contact nav a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact nav a .arrow path {
  fill: #e6e6e6;
}
.contact nav a.subsection .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.contact nav a.subsection-1 .icon {
  background-color: #5976aa;
}
.contact nav a.subsection-2 .icon {
  background-color: #5976aa;
}
.contact nav a.subsection-3 .icon {
  background-color: #5976aa;
}
.contact nav a.subsection-4 .icon {
  background-color: #5976aa;
}
.contact nav a.subsection .icon .lnr {
  font-size: 28px;
  display: flex;
  margin: auto;
  color: white;
}
.contact nav a.subsection .content h1 {
  color: #5976aa;
}
.contact nav a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.contact nav a .content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.4px;
}
.contact nav a .content span {
  font-size: 14px;
  color: #b3b3b3;
  display: block;
  letter-spacing: 0.4px;
}

/* SLIDE 1 */
.slide__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 12;
}

.lnr {
  font-size: 64px;
  color: #5976aa;
}
/* */

/* SLIDE 2 */
/* */

/* SLIDE 3 */
.slide--3 .slide__wrapper-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  display: flex;
  justify-content: space-between;
}

.slide--3 .slide__wrapper-video .video-container iframe.with-shadow {
  box-shadow: 0 30px 30px rgb(0 0 0 / 15%);
}

.slide--3 .slide__wrapper-video .bullets-container {
  margin-left: 100px;
}

.slide--3 .slide__wrapper-video .bullets-container .bullet {
  display: flex;
  align-items: center;
}
.slide--3 .slide__wrapper-video .bullets-container .bullet .lnr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  font-size: 42px;
  border: 4px solid #5976aa;
}
.slide--3 .slide__wrapper-video .bullets-container .bullet .bullet-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #5976aa;
  border-radius: 5px;
  color: white;
  width: 300px;
  height: 60px;
  margin-left: -50px;
  padding-left: 60px;
  z-index: -1;
}

/* */
