#parallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/slide-5/pilot-cabin-transp.png") center center
    no-repeat;
  background-size: cover;
  z-index: 10;
}
