.slide--3 .txt-instructions.txt-white {
  color: #194a8a;
  position: absolute;
  margin-top: -30px;
  margin-left: 180px;
  font-size: 14px;
  font-weight: bold;
}

.slide--3 .slide__wrapper-video {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  display: flex;
  justify-content: space-between;
}

.slide--3 .slide__wrapper-video .video-container iframe.with-shadow {
  box-shadow: 0 30px 30px rgb(0 0 0 / 15%);
}

.slide--3 .slide__wrapper-video .bullets-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  min-width: 360px;
}

.slide--3 .slide__wrapper-video .bullets-container .bullet {
  margin-bottom: 20px;
  color: #194a8a;
}
.slide--3 .slide__wrapper-video .bullets-container .bullet:last-child {
  margin-bottom: 0;
}
.slide--3 .slide__wrapper-video .bullets-container .bullet .bullet-title {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  background: white;
  padding: 4px;
  margin-bottom: 4px;
  display: inline-flex;
}

.slide--3
  .slide__wrapper-video
  .bullets-container
  .bullet
  .bullet-title
  .icn-arrow {
  position: absolute;
  top: -0px;
  left: -30px;
  background: url("../images/blue-arrow.svg") no-repeat;
  width: 20px;
  height: 26px;
  margin-right: 20px;
}

.slide--3 .slide__wrapper-video .bullets-container .bullet .bullet-subtitle {
  font-size: 14px;
  font-weight: bold;
}
