/* title section */
.slide--5 .slide__text-wrapper h1 {
  background-color: #eaf9ff;
  color: #194a8a;
}

.slide--5 .slide__text-wrapper .slide__text--subtitle h3 {
  color: #194a8a;
}

/* instructions interactions */
.txt-instructions {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.bg-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #194a8a;
  opacity: 0.6;
  z-index: 11;
}

/* */
.step-num {
  margin-right: 12px;
  width: 69px;
  height: 69px;
  border: solid 1px #ffffff;
  font-size: 50px;
  font-weight: bold;
  line-height: initial;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.slide--5__darkbg {
  left: -200%;
  background: url("../images/slide-5/cabin_assembly.jpg") center center
    no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
