/* title section */
.slide--1 .slide__text-wrapper h1 {
  background-color: rgba(25, 74, 138, 0.75);
  color: white;
}
.slide--1 .slide__text-wrapper h3 {
  color: #194a8a;
}

.slide--1 .card-area {
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.slide--1 .card-area .card {
  display: flex;
  align-items: center;
  width: 220px;
  height: 150px;
  margin-right: 56px;
  padding: 40px 20px;
  color: #194a8a;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: white;
}
.slide--1 .card-area .card:last-child {
  margin-right: 0;
}
