/* video settings */
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 66%;
  height: 100%;
  z-index: 15;
}
.video-container video {
  width: 100%;
  height: auto;
}
.video-container video.with-shadow {
  box-shadow: 0 70px 70px rgb(0 0 0 / 15%);
}
